* {
    margin: 0;
    padding: 0;
    
  }
  
  
  .container {
    width: 100%;
    background-image: url(imagenes_prueba/b_g.jpg);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px, 300px, 100px;
    grid-gap: 10px;
    margin: auto;
  }
  header {
    grid-column: 1 / -1;
    height: 100px;
    background-color: rgb(196, 68, 68);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  main {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
   background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
  }

main a {
  filter: grayscale(100%);
}
main a:hover {
  filter: none;
}