* {
  margin: 0;
  padding: 0;
  
}
.container{
  width: 100%;
  
  background-color: rgb(255, 0, 0);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px, 300px, 200px, 100px;
  grid-gap: 10px;
  margin: auto;
}
.container .box {
  border-radius: 10px;
  
}
h1{
  text-align: center;
}

h2{
  text-align: center;
}
p{
  margin: 10px 10px 10px 10px;
  text-indent: 2em;
}
header{
  background-image: url(../img/mario_fondito.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1{
  background-color: aqua;
  grid-column: 1 / -1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
 
}
.nav{
  display: flex;
  list-style-type: none;
  margin-right: 100px;
 
}
.nav li{
  width: 90px;
  height: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  align-content: center;
  color: aliceblue;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 5px 5px 20px;
  

}
.nav li:hover{
/*background-color: rgb(255, 0, 0);*/
background-image: radial-gradient(circle, red, rgb(75, 85, 231), rgb(255, 0, 0));
}
.box2{
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  text-align: center;
  margin-left: 10px;
 }
 .box2:hover{
  background-color: rgb(7, 9, 151);
 }
 
 .menu2{
  height: 100%;
 }
.menu2 a{
  text-align: center;
  align-items: center;
  justify-content: center;

  }
  .menu2 li img {
    border-radius: 10px;
    margin-top: 55px;
  }
  
.box3{
  /*background-color: rgb(104, 221, 26);*/
  grid-column: 2 / 11;
  grid-row: 2 / 4;
  
  
}

.box3 h2{
  text-align: center;
}
.box3 > p {
  margin: 10px 10px 10px 10px;
  text-indent: 2em;
}


.box4{
  background-color: blue;
  grid-column: 11 / 13;
  grid-row: 2 / 4;
  margin-right: 10px;
}
.header2{
  margin-left: 0px;
}
.header3{
  text-align: center;
}
a{
  color: aliceblue;
  text-decoration: none;
}
.box4 .aside_1{
  position: relative;
    width: 100%; 
    padding-bottom: 56.25%;
}
.aside_1 iframe {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.aside_2{
  margin-top: 20px;
}
.aside_2 audio{
  width: 100%;
}
.aside_2 p{
  color: aliceblue;
}
audio::-webkit-media-controls-panel {
  background-color: #db1010; 
}
.aside_3{
  width: 100%;
  position: relative;
  margin: auto;
}
.aside_3 img{
  width: 100%;
  opacity: .4;
}
.aside_3 img:hover{
  width: 100%;
  opacity: 1;
}
div.aside_3a{
  position: absolute;
  top: 50%;
}
.aside_3a H2{
  text-shadow: 2px 2px rgb(255, 0, 0);
}
.sec1 { 
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  
}
.sec2 { 
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}
.sec3 { 
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}
.tx {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px black;
  
}
.sec1{
  grid-column: 1 / 5;
}
.sec2{
  grid-column: 5 / 9;
}
.sec3{
  grid-column: 9 / 13;
}
.pie{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  height: 80px;
  background: rgb(177, 46, 46);
  
}
.nav_footer{
  display: flex;
  list-style-type: none;
  margin-right: 100px;
 
}
.nav_footer li{
  width: 90px;
  height: 10px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  align-content: center;
  color: aliceblue;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 5px 5px 20px;
  

}
.nav_footer li:hover{
background-color: rgb(49, 63, 143);


}
.aside_1 iframe {
  border: 0px;
}
.box3 iframe {
  border: 0px;
}
.secc .imgz {
  width: 100%;
}
.header3 h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: red;
  text-shadow: 3px 3px black;
}
#cambio_color {
  font-size: 36px;
  animation: changeColor 4s infinite; /* Define la animación */
}
@keyframes changeColor {
  0% { color: red; }
  25% { color: blue; }
  50% { color: rgb(255, 255, 255); }
  75% { color: rgb(6, 240, 57); }
  100% { color: purple; }
   }
   .secc h2{
    color: #db1010;
    text-shadow: 3px 3px black;
    
    padding: 10px;
    /*background-color: rgb(212, 206, 206);*/
    /*background-image: linear-gradient(to bottom right, grey, white);*/
    margin: 50px;
    text-align: center;
    align-content: center;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
   }
   .secc h2:hover {
    color: rgba(255, 0, 0, 0.733);
   }
   .imagenes_section img {
    margin: auto;
    display: block;
    box-shadow: 5px 5px rgba(2, 1, 1, 0.651);
    margin-bottom: 10px;
}

   
   