.color1 {
    background-color: #000000;
    color: rgb(212, 210, 210);
}


.color2{
    background-color: rgb(138, 133, 133);
    color: rgb(212, 210, 210);
}

.color3{
    color: black;
}

.enlace{
    color: rgb(212, 210, 210)
}

.colorx{
    color: black;
}

.th1{
    color: black;
}
